/* HEADER START */
.top-header{
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.top-header .contact li{
	display: inline-block;
}
.top-header .contact li + li{
	margin-left: 10px;
}
.top-header .contact li img{
	height: 20px;
}
.bottom-header{
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}
.bottom-header .logo{
	height: 40px;
}
.bottom-header .input-group{
	max-width: 800px;
}
.bottom-header .input-group .form-control{
	border-right: none;
}
.form-control:focus {
    color: #ced4da!important;
    border-color: inherit!important;
    box-shadow: none!important;
}
.bottom-header .input-group #button-addon2{
	border-left: none;
	border-color: #ced4da!important;
	background-image: url('../img/icons/search.png');
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 40px;
}
.bottom-header .input-group #button-addon2:hover{
	background-color: initial;
	background-image: url('../img/icons/search-active.png');
}
.user-controls a{
	display: inline-block;
}
.user-controls a + a{
	margin-left: 10px;
}
.user-controls a img{
	height: 30px;
}

/* HEADER END */

/* FOOTER START*/
.footer1 {
	background-color: #34404b;
	color: white;
	height: 150px;
}
/* FOTER END*/