/* HEADER START */
.top-header{
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.top-header .contact li{
	display: inline-block;
}
.top-header .contact li + li{
	margin-left: 10px;
}
.top-header .contact li img{
	height: 20px;
}
.middle-header{
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}
.middle-header .logo{
	height: 40px;
}
.middle-header .input-group{
	max-width: 800px;
}
.middle-header .input-group .form-control{
	border-right: none;
}
.form-control:focus {
    color: #ced4da!important;
    border-color: inherit!important;
    box-shadow: none!important;
}
.middle-header .input-group #button-addon2{
	border-left: none;
	border-color: #ced4da!important;
	background-image: url('../img/icons/search.png');
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 40px;
}
.middle-header .input-group #button-addon2:hover{
	background-color: initial;
	background-image: url('../img/icons/search-active.png');
}
.user-controls a{
	display: inline-block;
}
.user-controls a + a{
	margin-left: 10px;
}
.user-controls a img{
	height: 30px;
}

/* HEADER END */

/* FOOTER START*/
footer {
	background-color: #34404b;
	color: white;
	height: 150px;
}

footer .footer-nav + .footer-nav {
	margin-left: 35px;
}

footer .footer-nav span {
	display: inline-block;
	margin-bottom: 8px;
}

.footer-nav ul li {
	list-style: square;
	list-style-position: inside;
}

footer p {
	text-align: justify;
}

/* FOTER END*/

.bottom-header{
	padding: 10px 0;
}
#header-carousel img{
	height: 500px;
}
.slider-control{
	position: relative;
}
.slider-control .slider-left,
.slider-control .slider-right{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	background-color: rgba(8, 8, 8, .2);
}
.slider-control .slider-right{
	right: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.slider-control .slider-left{
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.slider-control .slider-right:hover,
.slider-control .slider-left:hover{
	background-color: rgba(8, 8, 8, .3);
}


